<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa4EZ0XkQAvGBFd9-69vuoJKOPuRQ0opQ</string>
	<key>GCM_SENDER_ID</key>
	<string>820969806367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bayindir.Chat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-b702b</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-b702b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820969806367:ios:b056751aa308429ae3532a</string>
</dict>
</plist>